<h2>My Heroes</h2>
<ul class="produtos">
  <li *ngFor="let produto of produtos"
    [class.selected]="produto === produtoSelecionado"
    (click)="produtoSelecionado(produto)">
    <span class="badge">{{produto.id}}</span> {{produto.descricao}}
  </li>
</ul>

<div *ngIf="produtoSelecionado">

  <h2>{{ produtoSelecionado.descricao | uppercase }} Detalhe</h2>
  <div><span>id: </span>{{produtoSelecionado.id}}</div>
  <div>
    <label>descricao:
      <input [(ngModel)]="produtoSelecionado.descricao" placeholder="descricao">
    </label>
  </div>

</div>